/Src/MarkDownBookLauncher/MarkDownBookLauncher/bin
/Src/MarkDownBookLauncher/MarkDownBookLauncher/obj
/Src/MarkDownBookLauncher/MarkDownbookCreate/bin
/Src/MarkDownBookLauncher/MarkDownbookCreate/obj
/Src/MarkDownBookLauncher/MarkDownBookMove/bin
/Src/MarkDownBookLauncher/MarkDownBookMove/obj
/Src/MarkDownBookLauncher/.vs
/Src/MarkDownBookLauncher/MarkDownBookLauncher/MarkDownBookLauncher.csproj.user