/Src/MarkDownBookLauncher/MarkDownBookLauncher/bin
/Src/MarkDownBookLauncher/MarkDownBookLauncher/obj
/Src/MarkDownBookLauncher/.vs
/Src/MarkDownBookLauncher/MarkDownBookLauncher/MarkDownBookLauncher.csproj.user